<div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Employment Type</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      {{ userprofile.employment_type }}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Department</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      {{ userprofile.department }}
    </div>
  </div>
  
  <!-- Edit Button -->
  <button id="edit-button" class="btn btn-primary" onclick="toggleEditFields()">Edit</button>
  