{% load static %}
<script src="{% static 'htmx.min.js' %}"></script>    

{% if event_media.media_type == 'photo' %} 
    <img src="{{ event_media.file.url }}" alt="{{ event_media.caption }}" class="img-fluid">
{% elif event_media.media_type == 'video' %}
    <video width="100%" height="100%" controls>
        <source src="{{event_media.file.url}}" type="video/mp4">
        <source src="{{event_media.file.url}}" type="video/webm">
        <source src="{{event_media.file.url}}" type="video/ogg">       
        Your browser does not support the video tag.
    </video>
{% endif %}



