{% load static %}
<script src="{% static 'htmx.min.js' %}"></script>    
{% if previous_media %}
<button class="navigation-btn prev-btn"
        hx-get="{% url 'load_media' previous_media.id %}"
        hx-target="#event-media-view"
        hx-swap="innerHTML">
        &#x2190; 
        {{event_media.event_id}}
</button>
{% endif %}


{% if next_media %}
<button class="navigation-btn next-btn"
        hx-get="{% url 'load_media' next_media.id %}"
        hx-target="#event-media-view"
        hx-swap="innerHTML">
        &#x2192;
       {{event_media.event_id}}
</button>
{% endif %}
</div>

{% if event_media.media_type == 'photo' %} 
    <img src="{{ event_media.file.url }}" alt="{{ event_media.caption }}" class="img-fluid">
{% elif event_media.media_type == 'video' %}
    <video id="event-video-play" width="100%" height="100%" controls>
        <source src="{{event_media.file.url}}" type="video/mp4">
        <source src="{{event_media.file.url}}" type="video/webm">
        <source src="{{event_media.file.url}}" type="video/ogg">       
        Your browser does not support the video tag.
    </video>
{% endif %}



