.navigation-btn {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.prev-btn, .next-btn {
  flex: 1;
  margin: 0 10px; /* Space between buttons */
}

.navigation-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.event-banner {
  position: relative;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  max-height: 70vh; /* Limit max height */
  object-fit: cover;
  display: block;
}

.banner-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 1.5rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.media-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between thumbnails */
}

.media-item {
  position: relative;
  flex: 1 0 30%; /* Flex-grow, shrink, and basis */
}

.media-item img, .vid-thumbnail {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.media-item img:hover, .vid-thumbnail:hover {
  transform: scale(1.05);
}

.vid-thumbnail-container {
  position: relative;
  display: inline-block;
}

.play-icon { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px; /* Adjust size as necessary */
  color: rgb(255, 255, 255);
  opacity: 0.7; /* Transparency */
  z-index: 1;
  cursor: pointer;
}

.card {
  border: 1px solid #ddd; /* Optional border */
  border-radius: 8px; /* Rounded corners */
}

.card-title {
  margin-bottom: 1rem; /* Space below the title */
}
