/* popup.css */
/* table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ffffff;
    padding: 20px;
}

th {
    background-color: #ffffff;
    text-align: left;
}
h1 {
    text-align: center
} */
