<!-- templates/header.html -->
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/header.css' %}">

<nav class="navbar navbar-expand-lg header-nav"  style="padding-left: 20px;" >
    <a class="navbar-brand" href="#">HaltHR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>      
    
    <div id="user-tools">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="welcome">Hi, {{ user.first_name }}</a>
      </li>           
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.userprofile.photo.url }}" alt="Profile Photo" class="profile-photo" >
          </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                <li><a class="dropdown-item" href="{% url 'userprofile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Zone</a></li>
                <li><a class="dropdown-item" 
                      hx-post="{% url 'logout' %}" 
                      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                      hx-confirm="Are you sure you want to log out?"
                      hx-target="body"  
                      hx-swap="innerHTML"
                      style="cursor: pointer;">Logout</a>
              </a></li>
            </ul>
        </li>
         
      </ul>
    </div>
    </div>
  
</nav>
    
      <!-- JavaScript for Logout Form Submission (optional) -->
      <script>
        document.getElementById('logout-form').addEventListener('submit', function(event) {
          event.preventDefault();  // Prevent default form submission
    
          // Submit the form
          this.submit();
        });
      </script>       
  

  