<!-- templates/base.html -->
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaltHR</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <style>
        /* Ensure the body and html take up the full height of the viewport */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        /* Make the main content flex-grow to fill available space */
        .container {
            flex: 1;
        }
    </style>
</head>
<body>
    <!-- Include the header template -->
    {% include 'includes/header.html' %}

    <!-- Block for page-specific content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Include the footer template -->
    {% include 'includes/footer.html' %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>  
</body>
</html>

