.sidebar {   
  
    position: fixed;
    top: auto;
    left: 100px;  
    width: 300px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
}

#clocker_bar {
    margin-left: 20px; /* Same as sidebar width */
    padding: 20px;
}


/* Main content adjustment */
.main-content {
  
}

.dashboard {
  position: relative;
  align-content: center;
  
}